### (1)주제 선정 이유: 
주제: 소주와 맥주는 대체재인가?<br>
소주와 맥주의 취향 차이가 갈리는 경우를 보고 그 둘 대체재인지 알고 싶었다.<br>
국제대학 전공 수업 Microeconomics 에서 A재화의 가격이 오르면 A재화의 소비는 줄고 대체재인 B재화의 소비는 늘어난다고 배웠다. <br>
가격 자료를 얻을 수 없어 세금 자료로 대체했다.<br>
세금이 오르면 가격이 오른 것으로 간주한다.

### (2)가설 정의: 
소주와 맥주는 대체재이다. <br>
따라서 소주 가격이 오르면<br>
즉, 소주에 부과되는 세금이 오르면 
소주 판매량은 줄고 맥주 판매량은 늘어날 것이다. <br>
반대로 맥주 가격이 오르면 <br>
즉, 맥주에 부과되는 세금이 오르면
맥주 판매량은 줄고 소주 판매량은 늘어날 것이다.

### (3)인터넷을 통한 데이터 획득: 
공공 데이터 포털에서 여러 주류에 부과된 세금과 주류 판매량 csv파일을 접했다.<br>
pandas에서 제공하는 read_csv로 두 파일을 읽었다. <br>
한국어가 사용된 파일이기에 encoder로 cp949를 사용했다.

### (4)분석을 위한 데이터의 가공: 
위스키, 과실주 등 여러 주류가 포함된 자료에서 내가 필요한 '연도','맥주','소주'의 자료만을 취했다.<br>
'맥주', '소주'로만 적혀있는 카테고리를 구분하기 쉽게 '맥주 부과세금','맥주 판매량'등으로 다시 이름 붙였다.<br>
세금 자료와 판매량 자료를 가로로 합쳐서 연도별로 맥주, 소주에 부과된 세금과 이에 따른 판매량이 어떻게 변했는지 한눈에 볼 수 있게 했다.

### (5)분석 결과 도출:

In [80]:
alcohol_df['결과'] = (alcohol_df['소주 부과세금'].diff() > 0 ) & (alcohol_df['소주 판매량'].diff() < 0) & (alcohol_df['맥주 판매량'].diff() > 0)

print('전체:', alcohol_df['결과'].count())
print('True:', alcohol_df['결과'].sum())
print('소주 가격변화로 확인한 경우 True의 비율',  alcohol_df['결과'].sum()/alcohol_df['결과'].count())

alcohol_df['결과'] = (alcohol_df['맥주 부과세금'].diff() > 0 ) & (alcohol_df['소주 판매량'].diff() > 0) & (alcohol_df['맥주 판매량'].diff() < 0)
print('전체:', alcohol_df['결과'].count())
print('True:', alcohol_df['결과'].sum())
print('맥주 가격변화로 확인한 경우 True의 비율',  alcohol_df['결과'].sum()/alcohol_df['결과'].count())

전체: 17
True: 4
소주 가격변화로 확인한 경우 True의 비율 0.23529411764705882
전체: 17
True: 2
맥주 가격변화로 확인한 경우 True의 비율 0.11764705882352941

### (6)결론:
True의 비율이 현저히 낮다.<br>
소주와 맥주는 다른 한 재화의 가격이 올라도 판매량이 늘지 않는다. <br>
따라서 내가 세운 가설은 틀렸다. <br>
소주와 맥주는 대체재가 아니다.

### (7)참고문헌:
한국건강증진개발원_절주(알코올 조세 및 가격)_주류별 부과세액 및 구성_20211231 <br>
한국건강증진개발원_절주(알코올 생산과 소비)_총 주요 주류 출고현황_20211231

### (8)획득한 데이터

In [10]:
alcohol_Pb
alcohol_Qb

,연도,총 출고량,탁주,약주,청주,맥주,과실주,증류식소주,희석식소주,위스키,브랜디,일반증류주,리큐르,기타주류
0,2005,3315880,166319,45033,22023,1837655,39412,426,929414,32705,1377,9254,6575,2679
1,2006,3470041,170165,42873,20638,1880049,45046,473,959061,31513,1491,9331,11432,3562
2,2007,3598863,172370,33288,20312,1982697,61127,614,963064,34741,1626,10324,6733,3902
3,2008,3714296,176398,27374,19296,2058550,56015,605,1004099,31059,1350,10434,7241,4521
4,2009,3333048,260701,22116,20813,2002517,45972,794,929926,25767,1215,13493,5606,4128
5,2010,3434305,412279,18841,21267,1956826,46915,785,930608,26179,1113,9390,4779,5323
6,2011,3535591,458198,18975,22329,2022215,46384,706,923028,23371,927,10525,4621,4312
7,2012,3634218,448047,16544,23860,2103654,46505,693,950962,20428,704,11790,6547,4484
8,2013,3628039,426216,14538,25326,2156597,52091,805,905919,18488,744,15214,6806,5295
9,2014,3701462,430896,12320,23291,2173472,53664,861,957818,17991,998,16832,6844,6475
10,2015,3757786,416046,11332,22249,2208808,61905,1045,955523,17402,642,19226,36316,7292
11,2016,3709324,399673,11584,23002,2217762,56722,1307,934869,16845,737,15460,18856,12507
12,2017,3681733,409407,10949,24849,2168596,51737,1964,948110,15989,607,14409,10246,24870
13,2018,3641308,402596,11562,25568,2145118,56332,1769,920082,14194,558,14162,9711,39656
14,2019,3550527,370527,11301,21874,2088837,64539,1802,917711,11911,543,13673,9020,38789
15,2020,3304754,379992,9538,20503,1856393,80003,2001,876520,9918,570,12902,7224,49189
16,2021,3230916,363135,11370,21341,1807620,113762,2567,827627,10720,648,12509,8291,51326

### (9)가공한 데이터

In [59]:
alcohol_df

      연도  맥주 부과세금  소주 부과세금   맥주 판매량   소주 판매량
0   2005  1267590   816308  1837655   929414
1   2006  1152754   866154  1880049   959061
2   2007  1124189   907325  1982697   963064
3   2008  1244431   972348  2058550  1004099
4   2009  1264651   957026  2002517   929926
5   2010  1289116   968083  1956826   930608
6   2011  1346794   968300  2022215   923028
7   2012  1430242  1011468  2103654   950962
8   2013  1544699  1052401  2156597   905919
9   2014  1568691  1138898  2173472   957818
10  2015  1608517  1171309  2208808   955523
11  2016  1602639  1212082  2217762   934869
12  2017  1635590  1243197  2168596   948110
13  2018  1581410  1223024  2145118   920082
14  2019  1504237  1263613  2088837   917711
15  2020  1336363  1251997  1856393   876520
16  2021  1303985  1198270  1807620   827627

### (10)소스코드

In [9]:
import pandas as pd

alcohol_Pb=pd.read_csv("C://fightWithPython//PriceOfAlcohol.csv", encoding='cp949')
alcohol_P = alcohol_Pb[['연도', '맥주', '희석식 소주']].copy()
alcohol_P.rename(columns={alcohol_P.columns[1]:'맥주 부과세금'},inplace=True)
alcohol_P.rename(columns={alcohol_P.columns[2]:'소주 부과세금'},inplace=True)

alcohol_Qb= pd.read_csv("C://fightWithPython//QuantityOfAlcohol.csv", encoding='cp949')
alcohol_Q = alcohol_Qb[['맥주','희석식소주']].copy()
alcohol_Q.rename(columns={alcohol_Q.columns[0]:'맥주 판매량'},inplace=True)
alcohol_Q.rename(columns={alcohol_Q.columns[1]:'소주 판매량'},inplace=True)

alcohol_df=pd.concat([alcohol_P, alcohol_Q.reset_index(drop=True)], axis=1)

alcohol_df

      연도  맥주 부과세금  소주 부과세금   맥주 판매량   소주 판매량
0   2005  1267590   816308  1837655   929414
1   2006  1152754   866154  1880049   959061
2   2007  1124189   907325  1982697   963064
3   2008  1244431   972348  2058550  1004099
4   2009  1264651   957026  2002517   929926
5   2010  1289116   968083  1956826   930608
6   2011  1346794   968300  2022215   923028
7   2012  1430242  1011468  2103654   950962
8   2013  1544699  1052401  2156597   905919
9   2014  1568691  1138898  2173472   957818
10  2015  1608517  1171309  2208808   955523
11  2016  1602639  1212082  2217762   934869
12  2017  1635590  1243197  2168596   948110
13  2018  1581410  1223024  2145118   920082
14  2019  1504237  1263613  2088837   917711
15  2020  1336363  1251997  1856393   876520
16  2021  1303985  1198270  1807620   827627